services:
  batch-processing:
    build: .
    profiles:
      - batch
    container_name: batch-processing
    environment:
      RAW_ROOT: "/raw"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ../kafka_consumer/raw-zone:/raw:ro
    networks:
      - data-engineering

networks:
  data-engineering:
    name: data-engineering
